:root {
  --most-dark: #111111;
  --most-light: #999999;
  --light: #777777;
  --middle: #555555;
  --dark: #333333;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  /* background-color: var(--dark); */
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  /* background-color: var(--most-dark); */
  color: var(--dark);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px var(--middle);
}

.register-form > h1 {
  color: var(--most-dark);
}

.register-form > div {
  display: flex;
  width: 80%;
  margin-top: 6px;
}

.register-form > div > label {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.register-form > input {
  outline: none;
  height: 25px;
  width: 80%;
  border-radius: 5px;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px #333333;
  border-right: #333333;
  border-left: #333333;
  border-bottom: solid 2px #333333;
}

.register-form > button {
  color: white;
  font-weight: 600;
  font-size: 30px;
  background-color: var(--dark);
  margin: 20px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  z-index: 0;
}

.register-form > button:hover {
  background: var(--most-dark);
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
