@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-screen relative;
}

/* Login from */
.login-container {
  @apply h-full w-full flex justify-center  bg-gradient-to-br  from-[#4C5844] to-[#4B6858];
}
.login-form {
  @apply phone:h-screen phone:w-full flex flex-col justify-center max-w-[450px];
}
.login-form > div {
  @apply w-full flex justify-center items-center;
}
.login-form > div > div {
  @apply w-4/5;
}
.login-form > div > div > label {
  @apply text-xl mb-2 font-semibold text-[#489CA6];
}
.login-form > nav {
  @apply w-full flex justify-center items-center mb-10;
}
.login-form > nav > h1 {
  @apply text-4xl font-bold text-[#489CA6];
}
.login-form > div > div > input {
  @apply w-full h-[50px] rounded-xl outline-none p-4 mt-1;
}
.login-form > div > button {
  @apply w-3/5 h-[50px] text-xl font-bold my-10 bg-[#489CA6] text-[#4C5844] rounded-xl outline-none cursor-pointer drop-shadow-2xl;
}
.login-form > section {
  @apply w-full flex justify-center items-center text-[#42F2F7];
}
.login-form > section > div {
  @apply w-4/5;
}

/* Register from */
.register-wraper {
  @apply w-full h-full bg-gray-600 phone:w-full flex justify-center items-center phone:mt-0 mt-20 justify-center;
}
.register-form {
  @apply phone:w-full phone:h-full phone:pt-3 pt-5 bg-[#4C5844] phone:rounded-none rounded-xl phone:mt-0 flex flex-col max-w-[450px];
}
.register-form > nav {
  @apply w-full flex justify-center items-center;
}
.register-form > nav > h1 {
  @apply text-[#489CA6] text-4xl font-bold mb-10;
}
.register-form > div {
  @apply w-full flex justify-center items-center;
}
.register-form > div > div {
  @apply w-4/5;
}
.register-form > div > div > label {
  @apply text-xl mb-1 font-semibold text-[#489CA6];
}
.register-form > div > div > input {
  @apply w-full h-[50px] rounded-xl outline-none p-4 mt-1;
}
.register-form > div > button {
  @apply w-3/5 h-[50px] text-xl font-bold my-10 bg-[#489CA6] text-[#4C5844] rounded-xl z-[0] outline-none cursor-pointer drop-shadow-2xl;
}
.register-form > section {
  @apply w-full flex justify-center items-center text-[#42F2F7];
}
.register-form > section > div {
  @apply w-4/5;
}

/* Navbar */
.navbar-wrapper {
  @apply w-full h-12 bg-pg drop-shadow-2xl relative;
}
.navbar {
  @apply flex relative z-50;
}
.navbar > button {
  @apply absolute right-10 top-[8px] rounded-xl bg-[#4C5844] text-[#42F2F7] p-1 phone:hidden;
}

/* Hamburger */
.hamburger {
  @apply w-7 h-8 absolute phone:visible right-8 top-2 flex flex-col justify-evenly items-center cursor-pointer;
}
.hamburger > span {
  @apply h-1 w-full bg-pb phone:visible;
}

/* sidebar */
.sidebar {
  @apply absolute right-0 bg-pg h-screen px-5 z-50 border-gray-600 border-l-[1px] drop-shadow-2xl z-[100];
}
.sidebar > ul {
  @apply mt-10 w-full flex flex-col h-[300px];
}
.sidebar > ul > li {
  @apply my-2 text-xl border-white border-b-[1px];
}
.sidebar > h1 {
  @apply text-4xl text-white font-bold text-center mt-16 mr-4;
}
.sidebar > ul > div > button {
  @apply text-white font-bold text-2xl text-[#4C5844];
}
.sidebar > button {
  @apply absolute left-5 text-2xl text-white top-2;
}

/* modal styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 100;
}

.modal {
  @apply fixed phone:top-[0] phone:left-[25%] z-[100] phone:h-full phone:w-full phone:translate-x-[-25%] flex justify-start items-center flex-col phone:translate-y-[-0%] bg-pg overflow-y-auto;
}
.modal > div {
  @apply w-full flex justify-center items-center;
}
.modal > form > div > div {
  @apply w-full flex;
}
.modal > form > div > div > label {
  @apply text-2xl text-pb font-semibold mb-2;
}
.modal > form {
  @apply flex flex-col justify-evenly w-4/5 max-w-[350px];
}
.modal > form > div {
  @apply w-full flex flex-col;
}
.modal > form > div > input {
  @apply p-4 h-[50] rounded-xl text-xl outline-none;
}
.modal > form > div > textarea {
  @apply p-4 h-[100] rounded-xl text-xl outline-none;
}
.modal > form > div {
  @apply mb-5;
}

.reject-button {
  @apply p-3 text-pb text-xl font-bold rounded-xl border-pb border-4 w-[150px];
}
.confirm-button {
  @apply p-3 text-pg bg-pb text-xl font-bold rounded-xl border-pb border-4 w-[150px];
}
.modal > section {
  @apply my-10 w-full flex justify-evenly items-center max-w-[350px];
}
.modal > form > div > select {
  @apply rounded-xl h-[50px] text-xl outline-none pl-4 pr-4;
}
.delete-modal {
  @apply fixed phone:top-[0] h-[300px] phone:left-[25%] z-[100] phone:h-full phone:w-full phone:translate-x-[-25%] flex justify-start items-center flex-col phone:translate-y-[-0%] bg-pg;
}
.delete-modal > section {
  @apply mt-10 w-full absolute bottom-20 flex justify-evenly items-center max-w-[350px];
}
